html {font-family: R;}
.d1{

height: 100px;

}

.d2 {
  height: ;
    margin-top: 30px;
    margin-left: 20px;
}


.scrollspysite{
     position: relative;
     overflow: auto;
     height: 400px;
     
}
.f1{
 position: relative;
 margin-left: 70px;
 margin-top:
 
}

.os{
    margin-top:5%;

}
.f5 {

    margin-right: 140px;
    margin-top:100px;
}


.t1{
   
    margin-left: 10%;
}


.btn-primary{

    border:none;
}
.fade-in{

    animation: fadeIn 4s;
}
@keyframes fadeIn{

    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


@media (min-width: 768px) and (max-width: 991.98px) { 

    .f1{
      
       }

    
}


@media (max-width: 991.98px) { 

    .v1{
        font-size: 30px;
    }
    
    .v2{
        font-size: 30px;
    }
    
    .v3{
        font-size: 15px;
    }
    .t6{

        width: 20px;
    }
  

}
@media (max-width: 575px) { 
  

    .scrollspysite{
  width: 150%;
      
   }
   .f1{
    position: relative;
    margin-left: 30%;
    
   }
   .x1{
       font-size: 35px;
       margin-left: 5%;
       width:300px;
       margin-top: -20%;
   }
   .f5 {

    display:none;
}
 
.os {

    
    margin-top:20%;
}

}
   @media (min-width: 576px) and (max-width: 991.98px) { 

    .x1{
        font-size: 35px;
        margin-left: 0;
        width:300px;
        margin-top: 25px;
    }
    .f1{
        position: relative;
        margin-left: 5px;
        
       }

       .os {

    
        margin-top:10%;
    }
   }

   @media (min-width: 992px) and (max-width: 1199.98px) { 
    .v1{
        font-size: 35px;
        
    }
    .x1{
        font-size: 45px;
      width: 600px;
      margin-left: -150px;
    }


   }
    


    

.b1{
    height: 150px;
    Background: url("../img/back.jpg") 50% 50% no-repeat;

    Background-size: cover

}
    

